<div [formGroup]="form">
  <label [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <input class="form-control"  *ngSwitchCase="'textbox'" [formControlName]="question.key"
            [id]="question.key" [type]="question.type">

    <select class="form-control"  [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>
    <ng-container *ngSwitchCase="'checkbox'">
        <input class="form-control"  [formControlName]="question.key" name="mayusculas" [id]="question.key" 
        [type]="question.type" [(ngModel)]="question.value" (change)="question.value = ck.checked" #ck>
    </ng-container>
  </div> 
  <br>
  <div class="alert alert-warning" *ngIf="!isValid">{{question.label}} is required</div>
  <br>
  <div class="alert alert-primary">{{question.label}} : {{valor}}</div>
</div> 