`
    <section class="container">
    <h2 class="text-center">Formulario dinamico basado en metadata</h2>
    <h3 class="text-center">Dado un arreglo de objetos que describen inputs podemos generar un formulario</h3>
    <div class="flex-parent">
      <div>
        <h4>METADATA:</h4>
        
        <pre>
            {{codigo}}
        </pre>
      </div>
      <div>
          <h4>Formulario:</h4>
        <app-dynamic-form [questions]="questions"></app-dynamic-form>
      </div>
    </div>
    </section>